<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
   
  </configSections>
  <connectionStrings>
    <add name="mysqlConnect" connectionString="Server =127.0.0.1; Database =lmsdb; Uid =root; Pwd =root;Pooling=true; Max Pool Size=100;Min Pool Size=10;Allow Batch=true; Allow User Variables=True;Charset=utf8;SslMode=none" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>